In [1]:
# importing the required libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
%matplotlib inline

In [2]:
# reading the data
loan_data = pd.read_csv('loans50k.csv', encoding='latin1')
loan_data.head()

,loanID,amount,term,rate,payment,grade,employment,length,home,income,...,totalBal,totalRevLim,accOpen24,avgBal,bcOpen,bcRatio,totalLim,totalRevBal,totalBcLim,totalIlLim
0,188861,8000.0,36 months,0.14,272.07,C,Warehouseman,3 years,RENT,49966.0,...,48054.0,8100.0,8.0,4369.0,43.0,95.7,60629.0,48054.0,1000.0,52529.0
1,517703,11000.0,36 months,0.10,354.89,B,Vice President,10+ years,MORTGAGE,50000.0,...,265838.0,33400.0,4.0,22153.0,19756.0,37.5,297500.0,11844.0,31600.0,0.0
2,268587,35000.0,36 months,0.15,1220.33,D,Owner/Attorney,10+ years,RENT,360000.0,...,850150.0,83000.0,2.0,121450.0,7686.0,83.2,907300.0,173260.0,83000.0,100000.0
3,579902,20000.0,60 months,0.12,447.83,C,Analyst,2 years,MORTGAGE,60000.0,...,20671.0,14200.0,8.0,1723.0,11061.0,1.2,46964.0,20671.0,11200.0,32764.0
4,617630,12000.0,60 months,0.12,266.88,B,medical technician,10+ years,MORTGAGE,64000.0,...,128034.0,14600.0,3.0,18291.0,5904.0,58.4,134600.0,8475.0,14200.0,0.0

In [3]:
# drop the row where amount column is null
loan_data.drop(loan_data[loan_data['amount'].isnull()].index, inplace=True)

In [4]:
# dropp the rows where revolRatio or bcOpen or bcRatio or employment or length column is null
loan_data.drop(loan_data[loan_data['revolRatio'].isnull() | loan_data['bcOpen'].isnull()
                          | loan_data['bcRatio'].isnull() | loan_data['employment'].isnull()
                            | loan_data['length'].isnull()].index, inplace=True)

In [5]:
loan_data.drop('loanID', axis=1, inplace=True)

In [6]:
# replace "Source Verified" with "Verified" in verified column
loan_data['verified'].replace('Source Verified', 'Verified', inplace=True)

In [8]:
loan_data.shape

(46714, 31)

In [9]:
loan_data.dtypes

amount         float64
term            object
rate           float64
payment        float64
grade           object
employment      object
length          object
home            object
income         float64
verified        object
status          object
reason          object
state           object
debtIncRat     float64
delinq2yr      float64
inq6mth        float64
openAcc        float64
pubRec         float64
revolRatio     float64
totalAcc       float64
totalPaid      float64
totalBal       float64
totalRevLim    float64
accOpen24      float64
avgBal         float64
bcOpen         float64
bcRatio        float64
totalLim       float64
totalRevBal    float64
totalBcLim     float64
totalIlLim     float64
dtype: object

In [10]:
loan_data['term'].value_counts()

term
 36 months    31188
 60 months    15526
Name: count, dtype: int64