In [1]:
# import dataset
import pandas as pd
loan_data = pd.read_csv('preprocessed_loans50k.csv')
loan_data.head()

,amount,rate,payment,income,status,debtIncRat,delinq2yr,inq6mth,openAcc,pubRec,...,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,term_months,employment_length_years,reason_hashed,state_hashed
0,8000.0,0.14,272.07,49966.0,Charged Off,30.05,0.0,0.0,11.0,0.0,...,0,1,0,0,0,0,1,3,2,13
1,11000.0,0.10,354.89,50000.0,Fully Paid,8.74,0.0,2.0,12.0,0.0,...,1,0,0,0,0,0,1,15,9,25
2,35000.0,0.15,1220.33,360000.0,Current,14.50,0.0,1.0,8.0,0.0,...,0,0,1,0,0,0,1,15,9,13
3,20000.0,0.12,447.83,60000.0,Fully Paid,14.14,0.0,0.0,12.0,3.0,...,0,1,0,0,0,0,2,2,9,13
4,12000.0,0.12,266.88,64000.0,Current,5.14,0.0,0.0,8.0,0.0,...,1,0,0,0,0,0,2,15,9,14

In [2]:
# separate the data into training and testing sets